/.vs
/Example/bin
/Example/obj
/NeuralNetwork.Visualizer/.vs
/NeuralNetwork.Visualizer/bin
/NeuralNetwork.Visualizer/obj
/NeuralNetwork.Visualizer.Contracts/bin/Debug/netstandard2.1/*.dll
/NeuralNetwork.Visualizer.Contracts/bin/Debug/netstandard2.1/*.json
/NeuralNetwork.Visualizer.Contracts/bin/Debug/netstandard2.1/*.pdb
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.0/*.cs
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.0/*.cache
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.1/*.cs
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.1/*.cache
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.1/*.CopyComplete
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.1/*.txt
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.1/*.dll
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.1/*.pdb
/NeuralNetwork.Visualizer.Contracts/obj/*.cache
/NeuralNetwork.Visualizer.Contracts/obj/*.json
/NeuralNetwork.Visualizer.Contracts/obj/*.props
/NeuralNetwork.Visualizer.Contracts/obj/*.targets
/NeuralNetwork.Visualizer.Calcs/bin/Debug/netstandard2.1/*.dll
/NeuralNetwork.Visualizer.Calcs/bin/Debug/netstandard2.1/*.json
/NeuralNetwork.Visualizer.Calcs/bin/Debug/netstandard2.1/*.pdb
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.0/*.cs
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.0/*.cache
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.1/*.cs
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.1/*.cache
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.1/*.CopyComplete
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.1/*.txt
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.1/*.dll
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.1/*.pdb
/NeuralNetwork.Visualizer.Calcs/obj/*.cache
/NeuralNetwork.Visualizer.Calcs/obj/*.json
/NeuralNetwork.Visualizer.Calcs/obj/*.props
/NeuralNetwork.Visualizer.Calcs/obj/*.targets
/NeuralNetwork.Visualizer.Preferences/bin/Debug/netstandard2.1/*.dll
/NeuralNetwork.Visualizer.Preferences/bin/Debug/netstandard2.1/*.pdb
/NeuralNetwork.Visualizer.Preferences/bin/Debug/netstandard2.1/*.json
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.0/*.cs
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.0/*.cache
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.1/*.cs
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.1/*.cache
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.1/*.CopyComplete
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.1/*.txt
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.1/*.dll
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.1/*.pdb
/NeuralNetwork.Visualizer.Preferences/obj/*.cache
/NeuralNetwork.Visualizer.Preferences/obj/*.json
/NeuralNetwork.Visualizer.Preferences/obj/*.props
/NeuralNetwork.Visualizer.Preferences/obj/*.targets
/NeuralNetwork.Visualizer.Calcs/bin/Debug/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Calcs/bin/Debug/netstandard2.0/*.json
/NeuralNetwork.Visualizer.Calcs/bin/Debug/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.0/*.CopyComplete
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.0/*.txt
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Contracts/bin/Debug/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Contracts/bin/Debug/netstandard2.0/*.json
/NeuralNetwork.Visualizer.Contracts/bin/Debug/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.0/*.CopyComplete
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.0/*.txt
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Preferences/bin/Debug/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Preferences/bin/Debug/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Preferences/bin/Debug/netstandard2.0/*.json
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.0/*.CopyComplete
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.0/*.txt
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Winform/.vs/NeuralNetwork.Visualizer/v15/*.suo
/NeuralNetwork.Visualizer.Winform/.vs/NeuralNetwork.Visualizer/v15/Server/sqlite3/*.lock
/NeuralNetwork.Visualizer.Winform/.vs/NeuralNetwork.Visualizer/v15/Server/sqlite3/*.ide
/NeuralNetwork.Visualizer.Winform/.vs/NeuralNetwork.Visualizer/v15/Server/sqlite3/*.ide-shm
/NeuralNetwork.Visualizer.Winform/.vs/NeuralNetwork.Visualizer/v15/Server/sqlite3/*.ide-wal
/NeuralNetwork.Visualizer.Winform/bin/Debug/*.dll
/NeuralNetwork.Visualizer.Winform/bin/Debug/*.pdb
/NeuralNetwork.Visualizer.Winform/obj/Debug/*.cache
/NeuralNetwork.Visualizer.Winform/obj/Debug/*.resources
/NeuralNetwork.Visualizer.Winform/obj/Debug/*.CopyComplete
/NeuralNetwork.Visualizer.Winform/obj/Debug/*.txt
/NeuralNetwork.Visualizer.Winform/obj/Debug/*.dll
/NeuralNetwork.Visualizer.Winform/obj/Debug/*.pdb
/NeuralNetwork.Visualizer.Winform/obj/Debug/TempPE/*.dll
/NeuralNetwork.Visualizer.Winform/obj/Debug
/NeuralNetwork.Visualizer.Html5/obj/Debug/*.cache
/NeuralNetwork.Visualizer.Html5/obj/Debug/*.txt
/NeuralNetwork.Visualizer.Html5/obj/Debug/*.force
/NeuralNetwork.Visualizer.Html5/obj/*.cache
/NeuralNetwork.Visualizer.Html5/obj/*.json
/NeuralNetwork.Visualizer.Html5/obj/*.props
/NeuralNetwork.Visualizer.Html5/obj/*.targets
/NeuralNetwork.Visualizer.Calcs/bin/Debug/net48/*.dll
/NeuralNetwork.Visualizer.Calcs/bin/Debug/net48/*.pdb
/NeuralNetwork.Visualizer.Calcs/obj/Debug/net48/*.cs
/NeuralNetwork.Visualizer.Calcs/obj/Debug/net48/*.cache
/NeuralNetwork.Visualizer.Calcs/obj/Debug/net48/*.CopyComplete
/NeuralNetwork.Visualizer.Calcs/obj/Debug/net48/*.txt
/NeuralNetwork.Visualizer.Calcs/obj/Debug/net48/*.dll
/NeuralNetwork.Visualizer.Calcs/obj/Debug/net48/*.pdb
/NeuralNetwork.Visualizer.Contracts/bin/Debug/net48/*.dll
/NeuralNetwork.Visualizer.Contracts/bin/Debug/net48/*.pdb
/NeuralNetwork.Visualizer.Contracts/obj/Debug/net48/*.cs
/NeuralNetwork.Visualizer.Contracts/obj/Debug/net48/*.cache
/NeuralNetwork.Visualizer.Contracts/obj/Debug/net48/*.CopyComplete
/NeuralNetwork.Visualizer.Contracts/obj/Debug/net48/*.txt
/NeuralNetwork.Visualizer.Contracts/obj/Debug/net48/*.dll
/NeuralNetwork.Visualizer.Contracts/obj/Debug/net48/*.pdb
/NeuralNetwork.Visualizer.Html5/obj/Debug/netstandard2.0/*.cs
/NeuralNetwork.Visualizer.Html5/obj/Debug/netstandard2.0/*.cache
/NeuralNetwork.Visualizer.Preferences/bin/Debug/net48/*.dll
/NeuralNetwork.Visualizer.Preferences/bin/Debug/net48/*.pdb
/NeuralNetwork.Visualizer.Preferences/obj/Debug/net48/*.cs
/NeuralNetwork.Visualizer.Preferences/obj/Debug/net48/*.cache
/NeuralNetwork.Visualizer.Preferences/obj/Debug/net48/*.CopyComplete
/NeuralNetwork.Visualizer.Preferences/obj/Debug/net48/*.txt
/NeuralNetwork.Visualizer.Preferences/obj/Debug/net48/*.dll
/NeuralNetwork.Visualizer.Preferences/obj/Debug/net48/*.pdb
/NeuralNetwork.Visualizer.Drafter/obj/Debug/netstandard2.0/*.cs
/NeuralNetwork.Visualizer.Drafter/obj/Debug/netstandard2.0/*.cache
/NeuralNetwork.Visualizer.Drafter/obj/*.cache
/NeuralNetwork.Visualizer.Drafter/obj/*.json
/NeuralNetwork.Visualizer.Drafter/obj/*.props
/NeuralNetwork.Visualizer.Drafter/obj/*.targets
/NeuralNetwork.Visualizer.Drafter/bin/Debug/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Drafter/bin/Debug/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Drafter/bin/Debug/netstandard2.0/*.json
/NeuralNetwork.Visualizer.Drafter/obj/Debug/netstandard2.0/*.CopyComplete
/NeuralNetwork.Visualizer.Drafter/obj/Debug/netstandard2.0/*.txt
/NeuralNetwork.Visualizer.Drafter/obj/Debug/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Drafter/obj/Debug/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Drafter/bin/Debug/netstandard2.1/*.dll
/NeuralNetwork.Visualizer.Drafter/bin/Debug/netstandard2.1/*.pdb
/NeuralNetwork.Visualizer.Drafter/bin/Debug/netstandard2.1/*.json
/NeuralNetwork.Visualizer.Drafter/obj/Debug/netstandard2.1/*.cs
/NeuralNetwork.Visualizer.Drafter/obj/Debug/netstandard2.1/*.cache
/NeuralNetwork.Visualizer.Drafter/obj/Debug/netstandard2.1/*.CopyComplete
/NeuralNetwork.Visualizer.Drafter/obj/Debug/netstandard2.1/*.txt
/NeuralNetwork.Visualizer.Drafter/obj/Debug/netstandard2.1/*.dll
/NeuralNetwork.Visualizer.Drafter/obj/Debug/netstandard2.1/*.pdb
/NeuralNetwork.Visualizer.Html5/bin/Debug/netstandard2.1/*.dll
/NeuralNetwork.Visualizer.Html5/bin/Debug/netstandard2.1/*.pdb
/NeuralNetwork.Visualizer.Html5/bin/Debug/netstandard2.1/*.json
/NeuralNetwork.Visualizer.Html5/obj/Debug/netstandard2.1/*.cs
/NeuralNetwork.Visualizer.Html5/obj/Debug/netstandard2.1/*.cache
/NeuralNetwork.Visualizer.Html5/obj/Debug/netstandard2.1/*.CopyComplete
/NeuralNetwork.Visualizer.Html5/obj/Debug/netstandard2.1/*.txt
/NeuralNetwork.Visualizer.Html5/obj/Debug/netstandard2.1/*.dll
/NeuralNetwork.Visualizer.Html5/obj/Debug/netstandard2.1/*.pdb
/NeuralNetwork.Visualizer.Calcs/bin/Release/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Calcs/bin/Release/netstandard2.0/*.json
/NeuralNetwork.Visualizer.Calcs/bin/Release/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Calcs/obj/Release/netstandard2.0/*.cs
/NeuralNetwork.Visualizer.Calcs/obj/Release/netstandard2.0/*.cache
/NeuralNetwork.Visualizer.Calcs/obj/Release/netstandard2.0/*.CopyComplete
/NeuralNetwork.Visualizer.Calcs/obj/Release/netstandard2.0/*.txt
/NeuralNetwork.Visualizer.Calcs/obj/Release/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Calcs/obj/Release/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Contracts/bin/Release/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Contracts/bin/Release/netstandard2.0/*.json
/NeuralNetwork.Visualizer.Contracts/bin/Release/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Contracts/obj/Release/netstandard2.0/*.cs
/NeuralNetwork.Visualizer.Contracts/obj/Release/netstandard2.0/*.cache
/NeuralNetwork.Visualizer.Contracts/obj/Release/netstandard2.0/*.CopyComplete
/NeuralNetwork.Visualizer.Contracts/obj/Release/netstandard2.0/*.txt
/NeuralNetwork.Visualizer.Contracts/obj/Release/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Contracts/obj/Release/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Drafter/bin/Release/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Drafter/bin/Release/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Drafter/bin/Release/netstandard2.0/*.json
/NeuralNetwork.Visualizer.Drafter/obj/Release/netstandard2.0/*.cs
/NeuralNetwork.Visualizer.Drafter/obj/Release/netstandard2.0/*.cache
/NeuralNetwork.Visualizer.Drafter/obj/Release/netstandard2.0/*.CopyComplete
/NeuralNetwork.Visualizer.Drafter/obj/Release/netstandard2.0/*.txt
/NeuralNetwork.Visualizer.Drafter/obj/Release/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Drafter/obj/Release/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Preferences/bin/Release/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Preferences/bin/Release/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Preferences/bin/Release/netstandard2.0/*.json
/NeuralNetwork.Visualizer.Preferences/obj/Release/netstandard2.0/*.cs
/NeuralNetwork.Visualizer.Preferences/obj/Release/netstandard2.0/*.cache
/NeuralNetwork.Visualizer.Preferences/obj/Release/netstandard2.0/*.CopyComplete
/NeuralNetwork.Visualizer.Preferences/obj/Release/netstandard2.0/*.txt
/NeuralNetwork.Visualizer.Preferences/obj/Release/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Preferences/obj/Release/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Winform/bin/Release/*.dll
/NeuralNetwork.Visualizer.Winform/bin/Release/*.pdb
/NeuralNetwork.Visualizer.Winform/obj/Release/*.resources
/NeuralNetwork.Visualizer.Winform/obj/Release/*.CopyComplete
/NeuralNetwork.Visualizer.Winform/obj/Release/*.txt
/NeuralNetwork.Visualizer.Winform/obj/Release/*.cache
/NeuralNetwork.Visualizer.Winform/obj/Release/*.dll
/NeuralNetwork.Visualizer.Winform/obj/Release/TempPE/*.dll
/ExampleBlazor/bin/Debug/netstandard2.0/*.xml
/ExampleBlazor/bin/Debug/netstandard2.0/*.config
/ExampleBlazor/bin/Debug/netstandard2.0/*.dll
/ExampleBlazor/bin/Debug/netstandard2.0/*.pdb
/ExampleBlazor/bin/Debug/netstandard2.0/Properties/*.json
/ExampleBlazor/bin/Debug/netstandard2.0/dist/_framework/_bin/*.dll
/ExampleBlazor/bin/Debug/netstandard2.0/dist/_framework/_bin/*.pdb
/ExampleBlazor/bin/Debug/netstandard2.0/dist/_framework/*.json
/ExampleBlazor/bin/Debug/netstandard2.0/dist/_framework/*.js
/ExampleBlazor/bin/Debug/netstandard2.0/dist/_framework/wasm/*.js
/ExampleBlazor/bin/Debug/netstandard2.0/dist/_framework/wasm/*.wasm
/ExampleBlazor/obj/Debug/netstandard2.0/*.cs
/ExampleBlazor/obj/Debug/netstandard2.0/*.cache
/ExampleBlazor/obj/Debug/netstandard2.0/*.CopyComplete
/ExampleBlazor/obj/Debug/netstandard2.0/*.txt
/ExampleBlazor/obj/Debug/netstandard2.0/*.dll
/ExampleBlazor/obj/Debug/netstandard2.0/*.pdb
/ExampleBlazor/obj/Debug/netstandard2.0/Razor/*.cs
/ExampleBlazor/obj/Debug/netstandard2.0/RazorDeclaration/*.dll
/ExampleBlazor/obj/Debug/netstandard2.0/RazorDeclaration/*.pdb
/ExampleBlazor/obj/Debug/netstandard2.0/RazorDeclaration/*.cs
/ExampleBlazor/obj/Debug/netstandard2.0/blazor/*.json
/ExampleBlazor/obj/Debug/netstandard2.0/blazor/*.txt
/ExampleBlazor/obj/Debug/netstandard2.0/blazor/*.cache
/ExampleBlazor/obj/Debug/netstandard2.0/blazor/*.xml
/ExampleBlazor/obj/Debug/netstandard2.0/blazor/linker/*.dll
/ExampleBlazor/obj/Debug/netstandard2.0/blazor/linker/*.pdb
/ExampleBlazor/obj/Debug/netstandard2.0/staticwebassets/*.cache
/ExampleBlazor/obj/Debug/netstandard2.0/staticwebassets/*.xml
/ExampleBlazor/obj/*.cache
/ExampleBlazor/obj/*.json
/ExampleBlazor/obj/*.props
/ExampleBlazor/obj/*.targets
/NeuralNetwork.Visualizer.Html/bin/Debug/netstandard2.0/*.json
/NeuralNetwork.Visualizer.Html/bin/Debug/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Html/bin/Debug/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Html/obj/Debug/netstandard2.0/*.cs
/NeuralNetwork.Visualizer.Html/obj/Debug/netstandard2.0/*.cache
/NeuralNetwork.Visualizer.Html/obj/Debug/netstandard2.0/*.txt
/NeuralNetwork.Visualizer.Html/obj/Debug/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Html/obj/Debug/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Html/obj/Debug/netstandard2.0/Razor/*.cs
/NeuralNetwork.Visualizer.Html/obj/Debug/netstandard2.0/RazorDeclaration/*.cs
/NeuralNetwork.Visualizer.Html/obj/Debug/netstandard2.0/RazorDeclaration/*.dll
/NeuralNetwork.Visualizer.Html/obj/Debug/netstandard2.0/RazorDeclaration/*.pdb
/NeuralNetwork.Visualizer.Html/obj/Debug/netstandard2.0/staticwebassets/*.cache
/NeuralNetwork.Visualizer.Html/obj/Debug/netstandard2.0/staticwebassets/*.xml
/NeuralNetwork.Visualizer.Html/obj/*.cache
/NeuralNetwork.Visualizer.Html/obj/*.json
/NeuralNetwork.Visualizer.Html/obj/*.props
/NeuralNetwork.Visualizer.Html/obj/*.targets
