/.vs
/Example/bin
/Example/obj
/NeuralNetwork.Visualizer/.vs
/NeuralNetwork.Visualizer/bin
/NeuralNetwork.Visualizer/obj
/NeuralNetwork.Visualizer.Contracts/bin
/NeuralNetwork.Visualizer.Contracts/obj
/NeuralNetwork.Visualizer.Calcs/bin
/NeuralNetwork.Visualizer.Calcs/obj
/NeuralNetwork.Visualizer.Preferences/bin
/NeuralNetwork.Visualizer.Preferences/obj
/NeuralNetwork.Visualizer.Winform/.vs
/NeuralNetwork.Visualizer.Winform/bin
/NeuralNetwork.Visualizer.Winform/obj
/NeuralNetwork.Visualizer.Drafter/obj
/NeuralNetwork.Visualizer.Drafter/bin
/ExampleBlazor/bin
/ExampleBlazor/obj
/NeuralNetwork.Visualizer.Razor/bin
/NeuralNetwork.Visualizer.Razor/obj
/ExampleBlazor/wwwroot/NeuralNetwork.Visualizer.Assets
/ExampleBlazor/wwwroot/NeuralNetwork.Visualizer.Assets/*

