/.vs
/Example/bin
/Example/obj
/NeuralNetwork.Visualizer/.vs
/NeuralNetwork.Visualizer/bin
/NeuralNetwork.Visualizer/obj
/NeuralNetwork.Visualizer.Contracts/bin/Debug/netstandard2.1/*.dll
/NeuralNetwork.Visualizer.Contracts/bin/Debug/netstandard2.1/*.json
/NeuralNetwork.Visualizer.Contracts/bin/Debug/netstandard2.1/*.pdb
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.0/*.cs
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.0/*.cache
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.1/*.cs
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.1/*.cache
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.1/*.CopyComplete
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.1/*.txt
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.1/*.dll
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.1/*.pdb
/NeuralNetwork.Visualizer.Contracts/obj/*.cache
/NeuralNetwork.Visualizer.Contracts/obj/*.json
/NeuralNetwork.Visualizer.Contracts/obj/*.props
/NeuralNetwork.Visualizer.Contracts/obj/*.targets
/NeuralNetwork.Visualizer.Calcs/bin/Debug/netstandard2.1/*.dll
/NeuralNetwork.Visualizer.Calcs/bin/Debug/netstandard2.1/*.json
/NeuralNetwork.Visualizer.Calcs/bin/Debug/netstandard2.1/*.pdb
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.0/*.cs
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.0/*.cache
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.1/*.cs
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.1/*.cache
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.1/*.CopyComplete
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.1/*.txt
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.1/*.dll
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.1/*.pdb
/NeuralNetwork.Visualizer.Calcs/obj/*.cache
/NeuralNetwork.Visualizer.Calcs/obj/*.json
/NeuralNetwork.Visualizer.Calcs/obj/*.props
/NeuralNetwork.Visualizer.Calcs/obj/*.targets
/NeuralNetwork.Visualizer.Preferences/bin/Debug/netstandard2.1/*.dll
/NeuralNetwork.Visualizer.Preferences/bin/Debug/netstandard2.1/*.pdb
/NeuralNetwork.Visualizer.Preferences/bin/Debug/netstandard2.1/*.json
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.0/*.cs
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.0/*.cache
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.1/*.cs
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.1/*.cache
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.1/*.CopyComplete
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.1/*.txt
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.1/*.dll
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.1/*.pdb
/NeuralNetwork.Visualizer.Preferences/obj/*.cache
/NeuralNetwork.Visualizer.Preferences/obj/*.json
/NeuralNetwork.Visualizer.Preferences/obj/*.props
/NeuralNetwork.Visualizer.Preferences/obj/*.targets
/NeuralNetwork.Visualizer.Calcs/bin/Debug/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Calcs/bin/Debug/netstandard2.0/*.json
/NeuralNetwork.Visualizer.Calcs/bin/Debug/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.0/*.CopyComplete
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.0/*.txt
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Calcs/obj/Debug/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Contracts/bin/Debug/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Contracts/bin/Debug/netstandard2.0/*.json
/NeuralNetwork.Visualizer.Contracts/bin/Debug/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.0/*.CopyComplete
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.0/*.txt
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Contracts/obj/Debug/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Preferences/bin/Debug/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Preferences/bin/Debug/netstandard2.0/*.pdb
/NeuralNetwork.Visualizer.Preferences/bin/Debug/netstandard2.0/*.json
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.0/*.CopyComplete
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.0/*.txt
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.0/*.dll
/NeuralNetwork.Visualizer.Preferences/obj/Debug/netstandard2.0/*.pdb
